<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hashtag Analyzer</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<div class="container">

<h1>📊 Hashtag Analyzer</h1>

<input type="text" id="hashtag" placeholder="#example">
<button onclick="analyze()">Analyze</button>

<h2>🔥 Popularity Score: <span id="score"></span></h2>

<h3>🔗 Related Hashtags:</h3>
<ul id="related"></ul>

<canvas id="trendChart" width="400" height="200"></canvas>
<h3>📌 Top Trending Hashtags</h3>
<ul id="trendingList"></ul>

</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="{{ url_for('static', filename='script.js') }}"></script>

</body>
</html>